body {
	margin:0;
	padding:0;
	}

#legend {
	padding: 5px;
	font-family:Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: small;
	width: 300px;
	height: 99%;
	background-color: #6495ED;
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	position: fixed;
	left: 0px;
	top: 0px;
	overflow-y: scroll;
	}

#panel {
	position: fixed;
	left: 314px;
	top: 0px;
	width: 200px;
	height: 34px;
	background-color: #A9A9A9;
	border-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-color: #000000;
	border-width: 2px;
	}

#map {
	position: fixed;
	left: 314px;
	top: 35px;
	width: 200px;
	height: 100px;
	max-height:91%;
	border-style: solid;
	border-left-style: none;
	border-width: 2px;
	border-color: #000000;
	}

#measures {
	position: fixed;
	left: 314px;
	bottom: 0px;
	width: 200px;
	height: 30px;
	}

#scale-id {
	width: auto;
	height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: small;
	float: left;
	}

#scaleline-id {
	width: auto;
	height: 30px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: xx-small;
	float: left;
	margin-top: 2px;
	font-weight: bold;
	}

#coords {
	width: auto;
	height: 30px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: xx-small;
	margin-top: 2px;
	}

#location {
	width: auto;
	height: 25px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: small;
	float: right;
	margin-right: 9px;
	margin-top: 5px;
	bottom: 0;
	}

#layerList {
	width: auto;
	height: auto;
	font-family:Arial,Helvetica,sans-serif;
	font-size: small;
	font-weight: bold;
	background-color: #0A077D;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 2000;
	visibility: hidden;
	color: #FFFFFF;
	padding-right: 10px;
	}

#opacity {
	width: auto;
	height: auto;
	font-family:Arial,Helvetica,sans-serif;
	font-size: small;
	font-weight: bold;
	background-color: #0A077D;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 2001;
	visibility: hidden;
	color: #FFFFFF;
	padding-top: 13px;
	}

#download {
	width: auto;
	height: auto;
	font-family:Arial,Helvetica,sans-serif;
	font-size: small;
	font-weight: bold;
	background-color: #0A077D;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 2002;
	visibility: hidden;
	color: #FFFFFF;
	padding-top: 13px;
	}

#riparian {
	width: auto;
	height: auto;
	font-family:Arial,Helvetica,sans-serif;
	font-size: small;
	font-weight: bold;
	background-color: #0A077D;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 2003;
	visibility: hidden;
	color: #FFFFFF;
	padding-top: 13px;
	}

#formOpacity {
	padding-left: 10px;
	padding-right: 10px;
	}

#slider {
	padding-top: 5px;
	}


.olControlZoomInItemInactive {
    	background-image: url("../Images/zoom-plus-mini.png");
	background-repeat: no-repeat;
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	cursor : pointer;
	}

.olControlZoomInItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlZoomOutItemInactive {
    	background-image: url("../Images/zoom-minus-mini.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
	}

.olControlZoomOutItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlZoomToMaxExtentItemInactive {
    	background-image: url("../Images/zoom-world-mini.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
	}

.olControlZoomToMaxExtentItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlZoomBoxItemInactive { 
    	background-image: url("../Images/drag-rectangle-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }
        
.olControlZoomBoxItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlZoomBoxItemActive { 
    	background-image: url("../Images/drag-rectangle-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlZoomBoxItemActive:hover {
    	border-color: #FF0000;
	}

.olControlZoomBoxOutItemInactive { 
    	background-image: url("../Images/drag-rectangle-out-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }
        
.olControlZoomBoxOutItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlZoomBoxOutItemActive { 
    	background-image: url("../Images/drag-rectangle-out-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlZoomBoxOutItemActive:hover {
    	border-color: #FF0000;
	}

.olControlNavigationItemInactive { 
    	background-image: url("../Images/panning-hand-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlNavigationItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlNavigationItemActive { 
    	background-image: url("../Images/panning-hand-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlNavigationItemActive:hover {
    	border-color: #FF0000;
	}

.olControlNavHist {
	background-image: url("../Images/navigation_history.png");
	background-repeat: no-repeat;
	float: left;
	width: 24px;
	height: 24px;
    	border: 2px solid #FFFFFF;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
	}

.olControlNavHist:hover {
    	border-color: #FF0000;
	}

.olControlNavHistPreviousItemActive {
	background-position: 0 0;
	}

.olControlNavHistPreviousItemInactive {
	background-position: 0 -24px;
	}

.olControlNavHistNextItemActive {
	background-position: -24px 0;
	}

.olControlNavHistNextItemInactive {
	background-position: -24px -24px;
	}

.olControlWMSGetFeatureInfoItemActive {
    	background-image: url("../Images/identify-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlWMSGetFeatureInfoItemActive:hover {
    	border-color: #FF0000;
	}

.olControlWMSGetFeatureInfoItemInactive {
    	background-image: url("../Images/identify-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlWMSGetFeatureInfoItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlIdLayerItemActive {
	background-image: url("../Images/expand.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 8px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlIdLayerItemActive:hover {
    	border: 2px solid #FFFF00;
	}

.olControlIdLayerItemInactive {
	background-image: url("../Images/expand.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 8px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlIdLayerItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlGetFeatureItemActive {
    	background-image: url("../Images/select_feature-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlGetFeatureItemActive:hover {
    	border-color: #FF0000;
	}

.olControlGetFeatureItemInactive {
    	background-image: url("../Images/select_feature-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlGetFeatureItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlFSLayerItemActive {
	background-image: url("../Images/expand.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 8px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlFSLayerItemActive:hover {
    	border: 2px solid #FFFF00;
	}

.olControlFSLayerItemInactive {
	background-image: url("../Images/expand.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 8px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlFSLayerItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlDownloadItemActive {
    	background-image: url("../Images/download-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlDownloadItemActive:hover {
    	border-color: #FF0000;
	}

.olControlDownloadItemInactive {
    	background-image: url("../Images/download-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlDownloadItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlRiparianItemActive {
    	background-image: url("../Images/tree2_small.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlRiparianItemActive:hover {
    	border-color: #FF0000;
	}

.olControlRiparianItemInactive {
    	background-image: url("../Images/tree2_small.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlRiparianItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlClearItemActive {
    	background-image: url("../Images/unselect_feature_small.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlClearItemActive:hover {
    	border-color: #FF0000;
	}

.olControlClearItemInactive {
    	background-image: url("../Images/unselect_feature_small.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlClearItemInactive:hover {
    	border-color: #FF0000;
	}

.olPopupContent {
	border: 1px solid #000000;
	}
