.olcontrolAttribution {
	position:fixed;
	bottom:20px;
	left:5px;
	}

#legend {
	padding: 5px;
	font-family:Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: small;
	width: 18%;
	min-width: 200px;
	height: 99%;
	background-color: #6495ED;
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	float: left;
	overflow-y:scroll;
	}

#panel {
	width: 80%;
	height: 34px;
	float: left;
	background-color: #A9A9A9;
	border-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-color: #000000;
	border-width: 2px;
	}

#map {
	width: 80%;
	height: 91%;
	max-height:91%;
	border-style: solid;
	border-left-style: none;
	border-width: 2px;
	border-color: #000000;
	float:left;
	}

#scale-id {
	width: auto;
	height: 25px;
	margin-top: 2px;
	margin-left: 5px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: small;
	float:left;
	}

#scaleline-id {
	width: auto;
	height: 25px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: xx-small;
	float: left;
	margin-left: 10%;
	margin-top: 2px;
	font-weight: bold;
	}

#layerList {
	width: auto;
	height: auto;
	font-family:Arial,Helvetica,sans-serif;
	font-size: small;
	font-weight: bold;
	background-color: #0A077D;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1000;
	visibility: hidden;
	color: #FFFFFF;
	padding-right: 10px;
	}

#mapUnits {
	width: auto;
	height: 25px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: small;
	float: left;
	margin-left: 10%;
	margin-top: 2px;
	}	

#location {
	width: auto;
	height: 25px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: small;
	float: right;
	margin-right: 9px;
	margin-top: 2px;
	bottom: 0;
	}

.olControlZoomInItemInactive {
    	background-image: url("../images/zoom-plus-mini.png");
	background-repeat: no-repeat;
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	cursor : pointer;
	}

.olControlZoomInItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlZoomOutItemInactive {
    	background-image: url("../images/zoom-minus-mini.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
	}

.olControlZoomOutItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlZoomToMaxExtentItemInactive {
    	background-image: url("../images/zoom-world-mini.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
	}

.olControlZoomToMaxExtentItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlZoomBoxItemInactive { 
    	background-image: url("../images/drag-rectangle-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }
        
.olControlZoomBoxItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlZoomBoxItemActive { 
    	background-image: url("../images/drag-rectangle-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlZoomBoxItemActive:hover {
    	border-color: #FF0000;
	}

.olControlZoomBoxOutItemInactive { 
    	background-image: url("../images/drag-rectangle-out-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }
        
.olControlZoomBoxOutItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlZoomBoxOutItemActive { 
    	background-image: url("../images/drag-rectangle-out-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlZoomBoxOutItemActive:hover {
    	border-color: #FF0000;
	}

.olControlNavigationItemInactive { 
    	background-image: url("../images/panning-hand-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlNavigationItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlNavigationItemActive { 
    	background-image: url("../images/panning-hand-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlNavigationItemActive:hover {
    	border-color: #FF0000;
	}

.olControlNavHist {
	background-image: url("../images/navigation_history.png");
	background-repeat: no-repeat;
	float: left;
	width: 24px;
	height: 24px;
    	border: 2px solid #FFFFFF;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
	}

.olControlNavHist:hover {
    	border-color: #FF0000;
	}

.olControlNavHistPreviousItemActive {
	background-position: 0 0;
	}

.olControlNavHistPreviousItemInactive {
	background-position: 0 -24px;
	}

.olControlNavHistNextItemActive {
	background-position: -24px 0;
	}

.olControlNavHistNextItemInactive {
	background-position: -24px -24px;
	}

.olControlWMSGetFeatureInfoItemActive {
    	background-image: url("../images/identify-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlWMSGetFeatureInfoItemActive:hover {
    	border-color: #FF0000;
	}

.olControlWMSGetFeatureInfoItemInactive {
    	background-image: url("../images/identify-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlWMSGetFeatureInfoItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlIdLayerItemActive {
	background-image: url("../images/expand.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 8px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlIdLayerItemActive:hover {
    	border: 2px solid #FFFF00;
	}

.olControlIdLayerItemInactive {
	background-image: url("../images/expand.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 8px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlIdLayerItemInactive:hover {
    	border-color: #FF0000;
	}




.olControlGetFeatureItemActive {
    	background-image: url("../images/select_feature-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlGetFeatureItemActive:hover {
    	border-color: #FF0000;
	}

.olControlGetFeatureItemInactive {
    	background-image: url("../images/select_feature-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlGetFeatureItemInactive:hover {
    	border-color: #FF0000;
	}

.olControlFSLayerItemActive {
	background-image: url("../images/expand.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 8px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlFSLayerItemActive:hover {
    	border: 2px solid #FFFF00;
	}

.olControlFSLayerItemInactive {
	background-image: url("../images/expand.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 8px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlFSLayerItemInactive:hover {
    	border-color: #FF0000;
	}




.olControlDownloadItemActive {
    	background-image: url("../images/download-on.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlDownloadItemActive:hover {
    	border-color: #FF0000;
	}

.olControlDownloadItemInactive {
    	background-image: url("../images/download-off.png");
    	border: 2px solid #FFFFFF;
    	float: left;
	height: 24px;
	width: 24px;
    	margin-top: 3px;
    	margin-right: 5px;
	margin-bottom: 5px;
	cursor : pointer;
        }

.olControlDownloadItemInactive:hover {
    	border-color: #FF0000;
	}

.olPopupContent {
	border: 1px solid #000000;
	}
